<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/"><span>Knights</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" [ngClass]="{'active': router.url === '/admin'}"><a routerLink="/admin" class="nav-link">Admin</a></li>
                <li class="nav-item" [ngClass]="{'active': router.url === '/'}"><a routerLink="/" class="nav-link">Home</a></li>
                <li class="nav-item" [ngClass]="{'active': router.url === '/about'}"><a routerLink="about" class="nav-link">About</a></li>
                <li class="nav-item" [ngClass]="{'active': router.url === '/games'}"><a routerLink="games" class="nav-link">Games</a></li>
                <li class="nav-item" [ngClass]="{'active': router.url === '/blog'}"><a routerLink="blog" class="nav-link">Blog</a></li>
                <li class="nav-item" [ngClass]="{'active': router.url === '/contact'}"><a routerLink="contact" class="nav-link">Contact</a></li>


                <!-- <li class="nav-item active" *ngIf="router.url === '/'"><a routerLink="/" class="nav-link">Home</a></li>
                <li class="nav-item" *ngIf="router.url != '/'"><a routerLink="/" class="nav-link">Home</a></li>
                <li class="nav-item active" *ngIf="router.url === '/about'"><a routerLink="about" class="nav-link">About</a></li>
                <li class="nav-item" *ngIf="router.url !== '/about'"><a routerLink="about" class="nav-link">About</a></li>
                <li class="nav-item active" *ngIf="router.url === '/games'"><a routerLink="games" class="nav-link">Games</a></li>
                <li class="nav-item" *ngIf="router.url !== '/games'"><a routerLink="games" class="nav-link">Games</a></li>
                <li class="nav-item active" *ngIf="router.url === '/blog'"><a routerLink="blog" class="nav-link">Blog</a></li>
                <li class="nav-item" *ngIf="router.url !== '/blog'"><a routerLink="blog" class="nav-link">Blog</a></li>
                <li class="nav-item active" *ngIf="router.url === '/contact'"><a routerLink="contact" class="nav-link">Contact</a></li>
                <li class="nav-item" *ngIf="router.url !== '/contact'"><a routerLink="contact" class="nav-link">Contact</a></li> -->
                <li class="nav-item cta"><a href="#" class="nav-link">Buy Ticket</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->